HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.lock
/.log
/.plugins/org.eclipse.core.resources/.history/0/00e6d94e37e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/0/20f13ef8eede001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/0/70f20d8e2ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/1/b0a6d40913e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/11/701a9c6db7e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/11/70f473c9d6de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/13/70edc306d5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/13/d0f56e0bc0e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/14/508a784535e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/14/6049c02836e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/14/609b9611c1de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/14/80705d1ac0e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/17/2092586fc2de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/18/00d38ea9d6de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/18/b0a7ae4dedde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/1a/c094860835e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/1c/002339cb16e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/1e/9092f70fbde3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/1e/e0c5eb86bfe3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/20/306e4c9ea9e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/21/a042228633e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/22/60e3f8ee12e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/22/60efdd7c32e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/26/100427795fdf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/26/309492132ce4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/28/80a4d3bc31e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/29/10e641a02ce4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/29/401e152fdbde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/29/d021696571df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/2a/40880a3e35e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/2a/c07ad3e236e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/2b/306f8a7a60df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/2e/b0b7cfaebfe3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/2f/800edb8637e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/32/10aacc8d36e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/33/00665034d4de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/33/504ba9cc46e1001c11189434d68780bd
/.plugins/org.eclipse.core.resources/.history/33/50c669015bdf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/35/70f87af8bfe3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/35/b0f943cd30e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/36/90b843ba36e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/36/a007d7f113e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/38/40b82de1cbde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/3a/10561eea15e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/3a/d0fe29ce2ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/3c/40a056eeeede001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/3d/509fb33eecde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/3d/50c6f53841e0001c11189434d68780bd
/.plugins/org.eclipse.core.resources/.history/3e/80a71db532e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/3f/30d8cd05d6e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/42/40f28ad3ddde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/46/9056afb82ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/48/d09f5fd861df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/4a/805bf015d5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/4b/10124a1637e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/4c/40a095b236e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/4c/8079560a16e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/4c/a0d9058636e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/4f/c031a3e12ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/4f/f0c90680bfe3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/50/80220472d5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/51/102edcf535e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/51/f05e1983cede001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/52/50ee7c9d79df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/52/c06c1eed30e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/54/e0e2d9cc72df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/55/e0c078c2d5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/58/d061e8b561df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/5a/600198e9bde3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/5d/b0bd1c4936e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/6/a06f55872ce4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/61/7007eadb35e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/62/e0431258bdde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/64/408dca1b5bdf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/64/50a21d29a9de001c1090bb74533ee818
/.plugins/org.eclipse.core.resources/.history/65/50225c1547e1001c11189434d68780bd
/.plugins/org.eclipse.core.resources/.history/65/d041d7c6bee3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/66/90e355122ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/68/3072ed17efde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/68/80361cc42ce4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/6f/a0bcc3d6bdde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/7/401a7a0c2ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/7/c0a5580131e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/71/30205fb437e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/72/e04783c831e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/73/80680090bee3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/73/a0ad35f4bfe3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/75/a0ef525ed5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/75/c07fc135d5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/76/206a26af36e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/78/3020cb32c1de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/7a/4058c1c972df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/7b/20210ce55edf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/7b/40516487ddde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/7b/c01eb813d5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/7d/609b2fee5edf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/8/30d9fc6db3df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/81/30f1b52cc0e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/81/7091eeb1bdde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/81/e05eb5e935e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/83/c0cdb902c0e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/84/70775134d4de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/86/7088efb7bfe3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/86/c072ad642ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/8b/a07bfbe8cdde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/8c/7088f6e8d4e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/8d/e0c44834d4de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/8e/d0be6d7178df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/92/7003754135e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/92/d08e22dd32e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/92/d0f1df9ab4de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/96/406a50c78ee3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/96/502240255fdf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/96/80d437e6bfe3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/97/4075c60533e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/97/80ec9120afde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/98/e0892ad6bdde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/98/e0df4db0d5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/9b/d0c788a237e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/9c/a03b416960df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/9e/f0ea9f3114e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/a/90395ee3bde3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/a1/505fcc5f5bdf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/a5/0015682b2fe4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/a9/40c32ddcbbde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/ac/00734eecb6e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/ae/80e960e5aedf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/ae/a034a8952ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/af/b0537ce22ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/b/80db2ae232e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/b0/203b55bd32e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/b2/00c1ab4641e0001c11189434d68780bd
/.plugins/org.eclipse.core.resources/.history/b2/206f99ba35e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/b2/806727c332e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/b2/b04b167016e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/b3/c01213d9dcde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/b5/904a8a8560df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/b8/d091b3ec13e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/b9/10cd0d8811e2001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/b9/5091f9ac31e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/ba/a0960962c2de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/ba/d0bccf3432e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/bb/40eedaf230e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/bd/501c5d93c1de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/be/90874b1fd5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/c1/703643d6a9e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/c4/901b48c98ee3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/c4/b0367fc42fe4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/c7/a00385d97adf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/c8/c02eae9635e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/c9/c04577ae33e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/cd/a00e97195fdf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/ce/e06f6f68d5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/d2/801bca3677df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/d4/3047ead932e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/d4/904b8c7ed5e1001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/d8/e0fca0af2ce4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/d9/b04942c146e1001c11189434d68780bd
/.plugins/org.eclipse.core.resources/.history/dd/b0e94cd12ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/dd/d0a0bd0a47e1001c11189434d68780bd
/.plugins/org.eclipse.core.resources/.history/df/c093f4c65edf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/df/e070f116edde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/e0/c0bd6ee460df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/e1/402e78c28ee3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/e2/8010089fdcde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/e2/90e58ae0ecde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/e4/40c970d5ddde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/e4/807cc8b831e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/e4/d08d9cc936e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/e6/302271c67adf001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/ea/50e2b9bc2ee4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/ea/905cf9c035e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/ea/9085e6fe36e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/eb/b0f603a271df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/ee/10f8450061df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/ee/80b87e1c31e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/ef/a038e937c0e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/f/001142d432e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/f0/6047ffe6d6de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/f1/b0c7c61be2de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/f2/102100df35e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/f2/503f5fbf79df001c1072c6131384aa5a
/.plugins/org.eclipse.core.resources/.history/f6/90742822bbde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/f7/70884d4fc0e3001c1d67ed143df1aaab
/.plugins/org.eclipse.core.resources/.history/f9/10ff069fdcde001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/fb/80f28d8731e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/fe/50045166c2de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.history/fe/9022e29831e4001c1846c3573395ba42
/.plugins/org.eclipse.core.resources/.history/ff/4049695fc2de001c1cbbcba18a14ebec
/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
/.plugins/org.eclipse.core.resources/.projects/disney/.indexes/e4/b9/22/81/ac/1d/history.index
/.plugins/org.eclipse.core.resources/.projects/disney/.indexes/e4/b9/22/81/ac/4a/history.index
/.plugins/org.eclipse.core.resources/.projects/disney/.indexes/e4/b9/22/81/ac/d4/history.index
/.plugins/org.eclipse.core.resources/.projects/disney/.indexes/e4/b9/22/81/ac/df/history.index
/.plugins/org.eclipse.core.resources/.projects/disney/.indexes/e4/b9/22/81/ac/history.index
/.plugins/org.eclipse.core.resources/.projects/disney/.indexes/e4/b9/db/history.index
/.plugins/org.eclipse.core.resources/.projects/disney/.indexes/history.index
/.plugins/org.eclipse.core.resources/.projects/disney/.indexes/properties.index
/.plugins/org.eclipse.core.resources/.projects/disney/.markers
/.plugins/org.eclipse.core.resources/.projects/disney/2.tree
/.plugins/org.eclipse.core.resources/.projects/disney/org.eclipse.jdt.core/state.dat
/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.plugins/org.eclipse.core.resources/.root/5.tree
/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.plugins/org.eclipse.debug.core/.launches/DisneyApplication.launch
/.plugins/org.eclipse.debug.core/.launches/disney.launch
/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.plugins/org.eclipse.jdt.core/1865797976.index
/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.plugins/org.eclipse.jdt.core/externalFilesCache
/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/.plugins/org.eclipse.jdt.launching/.install.xml
/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/disney/2022/5/21/refactorings.history
/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/disney/2022/5/21/refactorings.index
/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
/.plugins/org.eclipse.m2e.core/disney.lifecyclemapping
/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.cfe
/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.cfs
/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.si
/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_4.cfe
/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_4.cfs
/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_4.si
/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_6
/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.fdt
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.fdx
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.fnm
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.nvd
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.nvm
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a.si
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_1.liv
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_Lucene50_0.doc
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_Lucene50_0.pos
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_Lucene50_0.tim
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_Lucene50_0.tip
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_b.cfe
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_b.cfs
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_b.si
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e.cfe
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e.cfs
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e.si
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_f.cfe
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_f.cfs
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_f.si
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_f
/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_1.cfe
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_1.cfs
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_1.si
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_2.cfe
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_2.cfs
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_2.si
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_3.cfe
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_3.cfs
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_3.si
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_6.cfe
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_6.cfs
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_6.si
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_7.cfe
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_7.cfs
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/_7.si
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/segments_8
/.plugins/org.eclipse.m2e.core/nexus/d9efa1714265d5d41f79d46ccbcd12e3/write.lock
/.plugins/org.eclipse.m2e.core/workspaceState.ser
/.plugins/org.eclipse.m2e.core/workspacestate.properties
/.plugins/org.eclipse.m2e.jdt/disney.container
/.plugins/org.eclipse.m2e.launching/launches/m2conf8711764394596426783.tmp
/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/.plugins/org.eclipse.tips.ide/dialog_settings.xml
/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
/.plugins/org.eclipse.ui.editors/dialog_settings.xml
/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.plugins/org.eclipse.wildwebdeveloper.xml/system-catalog.xml
/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
/.plugins/org.springframework.tooling.ls.eclipse.gotosymbol/dialog_settings.xml
/version.ini
